<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
    <span>({{content}})</span>
  </div>
  <div class="meta">
    {{format_plural }} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{blogs.length}} {{format_plural blogs.length}}</a>
  </div>
</article>